thead{
    color: cadetblue;
    font-family: 'Baskerville Old Face';
    font-size:large;
}
tbody {
  color: darkslateblue;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}
